@model AlternativesVM[]

@foreach (var item in Model)
{
    string className = item.IsRightAlt != 0 ? string.Empty : "wrongAns";
    <button class="btn btn-alternatives btn-block btn-lg submit nohover @className" >@item.Alternative</button>
}

<br /> 

<div class="progress">
    <div class="progress-bar bg-bar" id="host-timer" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"></div>
</div>

<script type="text/javascript">
    $("body").removeClass().addClass("alternatives");

    function removeWrongAnswers() {
        $(".wrongAns").addClass("fadeout");
        $(".progress").addClass("fadeout");
    }
    window.removeWrongAnswers = removeWrongAnswers;
</script>