@model string[]

@foreach (var item in Model)
{
    <button class="btn btn-alternatives btn-block btn-lg submit nohover" value="@item">@item</button>
}

<br /> 

<div class="progress">
    <div class="progress-bar bg-bar" id="host-timer" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"></div>
</div>

<script type="text/javascript">
    $("body").removeClass().addClass("alternatives");
</script>