@using MuQuiz.Models.Entities
@model Player[]
<ol>
    AND THE WINNER IS
    @foreach (var item in Model)
    {
        <li>@item.Name, @item.Score</li>
    }
</ol>

<button id="startover">Let's play another round!</button>

<script type="text/javascript">
    $("#startover").click(async function () {
        await window.startNewSession();
    });
</script>