@using MuQuiz.Models.Entities
@model Player[]

<h1>And the winner is...</h1>

<ol id="final-score">
    @foreach (var item in Model)
    {
        <li><i class="em em-@item.AvatarCode"></i>@item.Name (@item.Score points)</li>
    }
</ol>

<button id="startover" class="btn btn-dark btn-lg">Let's play another round!</button>

<script type="text/javascript">
    $("#startover").click(async function () {
        await window.startNewSession();
    });

    $("body").removeClass().addClass("results");
</script>