@model HostLobbyVM

<p class="display-1">@Model.GameId</p>

<img src="@Model.QRCode" class="img-fluid" alt="QR code to join game" />

<br/><br/>

<button id="start" class="btn btn-dark btn-lg"> Start game </button>

<script type="text/javascript">
    $("#start").click(async function () {
        await startGame();
    });
</script>