@model HostLobbyVM

<p>@Model.GameId</p>
<img src="@Model.QRCode" alt="QR code to join game" />

<button id="start"> Start game </button>

<script type="text/javascript">
    $("#start").click(async function () {
        await startGame();
    });
</script>