@model HostLobbyVM

<p class="display-1">@Model.GameId</p>

<img src="@Model.QRCode" class="img-fluid" alt="QR code to join game" />

<br/><br/>

<button id="start" class="btn btn-dark btn-lg" disabled> Start game </button>
<a asp-controller="Home" asp-action="Index" class="btn btn-dark btn-lg">Home</a>

<script type="text/javascript">
    $("#start").click(async function () {
        await startGame();
    });

    //window.enableStartButton(() => { console.log("yey"); $("#start").prop("disabled", false);})

    function enableStartButton() {
        console.log("yey"); $("#start").prop("disabled", false);
    };
    window.enableStartButton = enableStartButton;
</script>