@using MuQuiz.Models.Entities
@model Player[]
<ol>
    @foreach (var item in Model)
    {
        <li>@item.Name, @item.Score</li>
    }
</ol>

<button id="sendsong">Send song</button>

<script type="text/javascript">
    $("#sendsong").click(async function () {
        await window.sendSong();
    });
</script>