@model AdminAddEditSongVM

<h1>Add Song</h1>
<form asp-controller="admin" asp-action="add">

    <div class="form-group">
        <input asp-for="SongName" placeholder="Song title" />
        <span asp-validation-for="SongName"></span>
        <input asp-for="Artist" placeholder="Artist" />
        <span asp-validation-for="Artist"></span>
    </div>
    <div class="form-group">
        <input asp-for="Year" placeholder="Year" />
        <span asp-validation-for="Year"></span>
        <input asp-for="SpotifyId" placeholder="Spotify song ID" />
        <span asp-validation-for="SpotifyId"></span>
    </div>

    <div class="form-group">
        <input asp-for="Answer1" placeholder="Alternative answer #1" />
        <span asp-validation-for="Answer1"></span>
        <input asp-for="Answer2" placeholder="Alternative answer #2" />
        <span asp-validation-for="Answer2"></span>
        <input asp-for="Answer3" placeholder="Alternative answer #3" />
        <span asp-validation-for="Answer3"></span>
    </div>

    <button type="submit" class="btn btn-lg"> Add </button>
</form>
<a asp-controller="admin" asp-action="index">Return to index</a>

