@model AdminSongVM

<h2>Manage songs</h2>

<form asp-controller="Admin" asp-action="Song">
    <label asp-for="SongName"></label>
    <input asp-for="SongName" />
    <span asp-validation-for="SongName"></span>
    <label asp-for="Artist"></label>
    <input asp-for="Artist" />
    <span asp-validation-for="Artist"></span>
    <label asp-for="Year"></label>
    <input asp-for="Year" />
    <span asp-validation-for="Year"></span>
    <label asp-for="SpotifyId"></label>
    <input asp-for="SpotifyId" />
    <span asp-validation-for="SpotifyId"></span>
    <label asp-for="CorrectAnswer"></label>
    <input asp-for="CorrectAnswer" />
    <span asp-validation-for="CorrectAnswer"></span>
    <label asp-for="Answer1"></label>
    <input asp-for="Answer1" />
    <span asp-validation-for="Answer1"></span>
    <label asp-for="Answer2"></label>
    <input asp-for="Answer2" />
    <span asp-validation-for="Answer2"></span>
    <label asp-for="Answer3"></label>
    <input asp-for="Answer3" />
    <span asp-validation-for="Answer3"></span>
    <label asp-for="QuestionType"></label>
    <input asp-for="QuestionType" />
    <span asp-validation-for="QuestionType"></span>
    
    <input type="submit" name="submit" value="Add" />
    <input type="submit" name="submit" value="Update" />
    <input type="submit" name="submit" value="Delete" />
</form>
