@model PlayerGameVM

<h1>Welcome to game @Model.GameId, @Model.Name!</h1>

<div id="content">

</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/@@aspnet/signalr@1.1.0/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        (async function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/gamehub")
                .build();

            async function submitAnswer() {
                await connection.invoke("SubmitAnswer", "svar");
                getPlayerWaitingScreen();
            };

            window.submitAnswer = submitAnswer;

            async function getPartialView(url) {
                await $.ajax({
                    url: url,
                    type: "GET",
                    success: function (result) {
                        $("#content").html(result);
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            }

            async function getPlayerWaitingScreen() {
                await getPartialView("/player/wait");
            }

            async function getPlayerShowAlternatives(url) {
                await getPartialView(url);
            }

            await connection.start().catch(err => console.log(err));

            connection.invoke("AddToGroup", "@Model.GameId");

            connection.on("newsong", async function (song) {
                // to-do: request answers and build url
                let url = "/player/showalternatives?song=test";
                await getPlayerShowAlternatives(url);
            });

            connection.on("gotowaitingscreen", async function () {
                await getPlayerWaitingScreen();
            });

            connection.on("finalposition", function (pos) {
                $("#content").html("You came at position " + pos);
            })
        })();
    </script>
}