@model AlternativesVM[]
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@foreach (var item in Model)
{
    <button class="btn btn-alternatives btn-block btn-lg submit" value="@item.IsRightAlt">@item.Alternative</button>
}

<script type="text/javascript">
    $("#focus").focus();

    $(".submit").click(async function (event) {
        await window.submitAnswer(event.target.value);
    });

    $("body").removeClass().addClass("alternatives");
</script>