@model AlternativesVM[]
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@foreach (var item in Model)
{
    <button class="btn btn-alternatives btn-block btn-lg submit" value="@item.IsRightAlt">@item.Alternative</button>
}
<br />

<div class="progress">
    <div class="progress-bar bg-bar" id="player-timer" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"></div>
</div>
<span id="focus"></span>

<script type="text/javascript">
    $("#focus").focus();

    $(".submit").click(async function (event) {
        await window.submitAnswer(event.target.value);
    });

    $("body").removeClass().addClass("alternatives");

    $("#player-timer").css("transition-duration", @Configuration["MsPerRound"] + "ms");
    $("#player-timer").css("width", "0%");
</script>