@model string[]

@foreach (var item in Model)
{
    <button class="btn btn-alternatives btn-block btn-lg submit" value="@item">@item</button>
}

<br />

<script type="text/javascript">
    $(".submit").click(async function (event) {
        await window.submitAnswer(event.target.value);
    });

    $("body").removeClass().addClass("alternatives");
</script>