@model string[]

<ul>
    @foreach (var item in Model)
    {
        <li><button class="btn btn-primary btn-sm submit" value="@item">Player @item</button></li>
    }
</ul>

<button id="submit">Submit</button>

<script type="text/javascript">
    $(".submit").click(async function (event) {
        await window.submitAnswer(event.target.value);
    });
</script>