@model string[]

<ul>
    @foreach (var item in Model)
    {
        <li>Player @item</li>
    }
</ul>

<button id="submit">Submit</button>

<script type="text/javascript">
    $("#submit").click(async function () {
        await window.submitAnswer();
    });
</script>