<ul>
    <li>Alt #1</li>
    <li>Alt #2</li>
    <li>Alt #3</li>
    <li>Alt #4</li>
</ul>

<button id="submit">Submit</button>

<script type="text/javascript">
    $("#submit").click(function () {
        window.submitAnswer();
    });
</script>