@model int[]


@if (Model[0] == 1)
{
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
        <h1>You won!</h1>
        <div id="winnerScreen">#1</div>
    </div>
}
else
{
    <h1>
        #@Model[0]
    </h1>
    <h6>
        Score: @Model[1] points
    </h6>
    <br />
    <br />
    <h1>
        Better luck next time... <i class="em em-cry"></i>
    </h1>
}

<script type="text/javascript">
    $("body").removeClass().addClass("results");
    if (@Model[0]  !== 1) {
        $("body").removeClass().addClass("rain");
    }
</script>