<h2>Host has left the session</h2>
<form asp-controller="Home" asp-action="Index">
    <input type="submit" value="Home" />
</form>

<script type="text/javascript">
    $("body").removeClass().addClass("disconnect");
</script>