@model HomeIndexVM

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="logout" asp-controller="account" class="log-out underline">Log out</a>
}

<div class="row vh-100">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto align-self-center">
        <img src="~/css/logo-white.svg" id="muquiz-logo" class="img-fluid" />

        <form asp-controller="home" asp-action="index">
            <div class="form-group form-group-lg">
                <input placeholder="Enter 4-letter code" class="form-control" asp-for="GameId" autocomplete="off" id="gameIdInput" maxlength="4" autofocus />
                <span asp-validation-for="GameId"></span>
            </div>

            <button type="submit" class="btn-landing-page btn btn-lg btn-block">Join game</button>
        </form>

        <br />
        <div class="hideOnMobile">
            Or <a asp-controller="host" asp-action="hostsetup" class="underline">host your own</a>!
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div id="adminDiv">
                <a class="underline" href="~/admin">Go to admin-page</a>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}