@model HomeIndexVM

<div class="row vh-100">
    <div class="col-lg-4 col-sm-1 mx-auto align-self-center">
        <h1>MuQuiz</h1>

        <br/>

        <form asp-controller="home" asp-action="index">
            <div class="form-group">
                <input placeholder="Game Id" class="form-control" asp-for="GameId" />
                <span asp-validation-for="GameId"></span>
            </div>

            <button type="submit" class="btn btn-dark btn-lg btn-block">Join game</button>
        </form>

        <br />

        Or <a asp-controller="host" asp-action="hostgame">host your own</a>!
    </div>
</div>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}