@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$headings-color: white;
$headings-font-weight: 700;
$link-color: white;
$font-family-sans-serif: "Roboto";

@import '../Bootstrap/bootstrap';

// theme colors
$gold: #ffa801;
$rose: #ff5e61;
$softgreen: #05c46b;
$mustard: #f7d550;
$mellowblue: #2b59c3;
$smartpurple: #f066f0;

/* Text color */
body {
    color: white;
}

/* Body backgrounds */
body.landing_page {
    background-color: $gold;
}

body.enter_name {
    background-color: $rose;
}

body.lobby {
    background-color: $mellowblue;
}

body.results {
    background-color: $mustard;
}

body.waiting {
    background-color: $mellowblue;
}

body.alternatives {
    background-color: $softgreen;
}

body.disconnect {
    background-color: var( --gray-dark);
}

/* Buttons */
.btn-landing-page {
    @include button-variant($softgreen, darken($softgreen, 10%));
}

.btn-alternatives {
    @include button-variant(darken($softgreen, 10%), darken($softgreen, 20%));
}

.btn-red {
    @include button-variant(lighten(crimson, 15%), lighten(crimson, 15%));
}

/* Misc */
#rules-toggle {
    cursor: pointer;
}

ol#final-result li:first-child {
    text-transform: uppercase;
}

div#players {
    margin-top: $grid-gutter-width;
}

@include bg-variant(".bg-bar", darken($softgreen, 10%));

.progress {
    height: 25px;
    margin-bottom: $grid-gutter-width;
}

#host-timer {
    width: 100%;
    transition: width 1s linear;
}