@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$headings-color: white;
$headings-font-weight: 700;
$link-color: white;
$font-family-sans-serif: "Roboto";

@import '../Bootstrap/bootstrap';

// theme colors
$gold: #ffa801;
$rose: #ff5e61;
$softgreen: #05c46b;
$mustard: #f7d550;
$mellowblue: #2b59c3;
$smartpurple: #f066f0;

/* Text color */
body {
    color: white;
    transition: background-color 0.3s;
}

/* Body backgrounds */
body.landing_page {
    background-color: $gold;
}

body.enter_name {
    background-color: $rose;
}

body.lobby {
    background-color: $mellowblue;
}

body.results {
    background-color: $mustard;
}

body.waiting {
    background-color: $mellowblue;
}

body.alternatives {
    background-color: $softgreen;
}

body.disconnect {
    background-color: var( --gray-dark);
}

/* Buttons */
.btn-landing-page {
    @include button-variant($softgreen, darken($softgreen, 10%));
}

.btn-alternatives {
    @include button-variant(darken($softgreen, 10%), darken($softgreen, 20%));
}

.nohover {
    pointer-events: none;
}

.btn-red {
    @include button-variant(lighten(crimson, 15%), lighten(crimson, 15%));
}

/* Misc */
#rules-toggle {
    cursor: pointer;
}

ol#final-result li:first-child {
    text-transform: uppercase;
}

div#players {
    margin-top: $grid-gutter-width;
}

@include bg-variant(".bg-bar", darken($softgreen, 10%));

.progress {
    height: 25px;
    margin-bottom: $grid-gutter-width;
}

#host-timer {
    width: 100%;
    transition: width 1s linear;
}

#player-timer {
    width: 100%;
    transition: width 1s linear;
}

#winner {
    border: dotted 4px;
    border-color: $gold;
    border-radius: 80px;
    padding: 10px;
}

// Fireworks start
$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();

@for $i from 0 through $particles {
    $box-shadow: $box-shadow, random($width)-$width / 2 + px random($height)-$height / 1.2 + px hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff
}

@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro > .after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
    to {
        box-shadow: $box-shadow;
    }
}

@include keyframes(gravity) {
    to {
        @include transform(translateY(200px));
        opacity: 0;
    }
}

@include keyframes(position) {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

#winnerScreen {
    font-size: 50vh;
    color: $gold;
}

//rain
.rain {
    width: 100vw;
    height: 100vh;
    background-image: url(http://assets.adamrobinson.im/codepen/raindrop.svg);
    background-size: 60px 60px;
    animation: rain;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: var( --gray-dark);
}

@-webkit-keyframes rain {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -60px 60px
    }
}

@keyframes rain {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -60px 60px
    }
}

#muquiz-logo {
    margin-bottom: $grid-gutter-width;
    max-width: 350px;
}

#gameIdInput {
    text-transform: uppercase;
    text-align:center;
}

input {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

#adminDiv {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    left: 0px;
    position: fixed;
    text-align: center;
    width: 100vw;
    padding: 1vw;
}

.avatar-spin {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform-origin: center center;
        transform: rotate(-360deg) scale(1);
    }

    50% {
        transform-origin: center center;
        transform: rotate(-180deg) scale(0.85);
    }

    100% {
        transform-origin: center center;
        transform: rotate(0) scale(1);
    }
}

//Allt som endast gäller för mobilenheter
@media only screen and (max-width: 768px) {
    .hideOnMobile {
        visibility: hidden;
    }
}

#description {
    background-color: darken($rose, 2%);
    padding: 10px;
    border-radius: 20px;
}

.signup-response {
    position: fixed;
    bottom: 0vh;
    left: 0vw;
    width: 20vw;
    text-align: center;
    background-color: none;
    animation: signup-response 4s 1;
    -webkit-animation: signup-response 4s 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

@keyframes signup-response {
    from {
        /*opacity: 1;*/
        bottom: 0vh;
    }

    to {
        /*opacity: 0;*/
        bottom: 15vh;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes signup-response {
    from {
        /*opacity: 1;*/
        bottom: 0vh;
    }

    to {
        /*opacity: 0;*/
        bottom: 15vh;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}