@model AccountLoginVM

<div class="row vh-100">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto align-self-center">
        @if (!User.Identity.IsAuthenticated)
        {
            <img src="~/css/logo-white.svg" id="muquiz-logo" class="img-fluid" />

            <form asp-controller="account" asp-action="login">
                <div class="form-group">
                    <input placeholder="Username" class="form-control" asp-for="UserName" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <input placeholder="Password" class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>

                <button type="submit" class="btn btn-landing-page btn-lg">Login</button>

                <input type="hidden" asp-for="ReturnUrl" />
            </form>

            <br />
            <h5>Don't have an account? <a class="underline" asp-controller="account" asp-action="create">Register</a></h5>
        }
        else
        {
            <p>You're logged in! Do you want to <a class="underline" asp-controller="account" asp-action="logout">Log out</a>?</p>
        }
    </div>
</div>